
{% load staticfiles %}

<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="vip">
   <div class="w3-content">

      <h1 class="w3-center w3-jumbo w3-animate-top" style="margin-bottom:64px">PLAN VIP</h1>
  
      <div class="w3-row">
      <div class="w3-col s12">
                <ul class="w3-ul w3-border ">
                  <li class="w3-hover-gray w3-animate-left">
                    10% al 50% de descuento en 9 países de
                    <div class="w3-ul"></div>
                    <span style="padding-left: 51px;"></span>Latino américa.
                  </li>
                  <li class="w3-hover-gray w3-animate-left">
                    Cruceros Carnival por $39,95.
                    <div class="w3-ul">
                      <span style="padding-left: 45px;"></span>
                      (2 personas - Por noche - Por Persona).
                    </div>
                    <span style="padding-left: 45px;"></span>2 a 5 noches de Septiembre a Febrero.
  
                  </li>
                  <li class="w3-hover-grey w3-animate-left">
                    Hospedaje GRATIS en:
                    <div class="w3-ul">
                      <span style="padding-left: 45px;"></span>
                      Cancún - Las Vegas - Panama - Orlando - Miami
                    </div>
                    <span style="padding-left: 45px;"></span>(2 Adultos - 2 niños) 3 a 4 noches.
                  </li>
                </ul>
      </div>
      </div>
      <br>
     <div class="w3-row">
        <div class="w3-col s12">
          <video id=video_vip poster="{% static 'img/VIP_VT_CARATULA.jpg' %}" controls>
              <source src="{% static 'videos/ProgramaVIP.mp4' %}" type="video/mp4">
          </video>
          <div class="w3-display-Middle w3-center w3-col s12">
            <a href="#contactanos" class="w3-button w3-xxlarge w3-button w3-light-grey w3-hover-grey ">Mas informacion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
