{% load staticfiles %}

<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="quienessomos">

    <div class="w3-content">

        <h1 class="w3-center w3-jumbo w3-animate-top" style="margin-bottom:64px">Quienes Somos</h1>

       <div class="w3-row">
          <div class="w3-col s12">
            <video id=video_vip poster="{% static 'img/viajar_preview2.jpg' %}" controls>
                <!-- cambiar VIDEO -->
                <source src="{% static 'videos/ProgramaVIP.mp4' %}" type="video/mp4">
            </video>
          </div>
        </div>

        <br>

        <div class="w3-row">
            <div class="w3-col s8">
                    <img src="{% static 'img/Palm_Dubai.jpg' %}" class="w3-animate-fading" alt="link travel">
            </div>
        </div>

      </div>
</div>
