{% load staticfiles %}

<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge w3-row" id="servicios">
    <div class="w3-content">
      <h1 class="w3-center w3-jumbo w3-animate-fading" style="margin-bottom:64px">Nuestros Servicios</h1>
      <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><img id="boletos" src="{% static 'img/aeroplano1.svg' %}"  alt="Boletos"></a>
            <div class="w3-container ">
              <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><p class="w3-center w3-animate-zoom">Boletos</p></a>
            </div>
          </div>
          <div class="w3-third w3-container w3-margin-bottom">
            <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><img id="hospedaje "src="{% static 'img/equipaje1.svg' %}" alt="Hospedaje"></a>
            <div class="w3-container ">
              <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><p class="w3-center w3-animate-zoom">Hospedaje</p></a>
            </div>
          </div>
          <div class="w3-third w3-container">
            <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><img id="cruceros" src="{% static 'img/crucero1.svg' %}" alt="Cruceros"></a>
            <div class="w3-container ">
              <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><p class="w3-center w3-animate-zoom">Cruceros</p></a>
            </div>
          </div>
        </div>
  
  
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
              <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><img id="alquiler_v" src="{% static 'img/coche1.svg' %}" alt="Alquierle de Vehiculos"></a>
              <div class="w3-container ">
                <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><p class="w3-center w3-animate-zoom">Alquiler de Vehiculos</p></a>
              </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
              <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><img id="seg_v" src="{% static 'img/chaleco-salvavidas1.svg' %}" alt="Seguros de viaje"></a>
              <div class="w3-container ">
                <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><p class="w3-center w3-animate-zoom">Seguros de viaje</p></a>
              </div>
            </div>
            <div class="w3-third w3-container">
              <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><img id="paquetes" src="{% static 'img/mapas-y-banderas1.svg' %}" alt="Paquetes"></a>
              <div class="w3-container ">
                <a class="services_class" href="http://www.agenciadeviajesvirtual.com/Home/Index/44438"><p class="w3-center w3-animate-zoom">Paquetes</p></a>
              </div>
            </div>
          </div>
          <div class="w3-container w3-center">
            <a href="#contactanos" class="w3-button w3-xxlarge w3-black w3-hover-grey w3-center">Consultas Gratuitas</a>
          </div>
    </div>
  </div>
